
/* GENERAL */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
margin: 0;
padding: 0;


}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow: hidden;
    background-image: url(Overmij-background.png);
}


html {

    height: 100%;

}

p {

    color: #69005A;
}

/* TRANSITIONS */

a,
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;

}

.nav-skill {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;

}

.nav-skill a {

    color: #5b1c6b;
    text-decoration:none;
    text-decoration-color: white;
}



a {

    color: #5b1c6b;
    text-decoration:none;
    text-decoration-color: white;
}



a:hover {
    color: rgb(255, 255, 255);
    text-decoration:solid;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(0, 0, 0);
}

.nav-skill a:hover {
    color: rgb(135, 154, 197);
    text-underline-offset: 1rem;
    text-decoration-color: rgb(0, 0, 0);

}

.logo img {
    width: 175px;
}
.logo:hover {

cursor:default;

}

/* SECTIONS */

section {

    padding-top: 4vh;
    height: 96vh;
    margin: -29px 3rem;
    box-sizing: border-box;
    min-height: fit-content;

}

.title {

    color:#69005A;
    margin: 6px 28px 10px -1px;
    font-size: 39px;

}
/* PROFILE SECTION */
#profile {

    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section_pic-container {

display: flex;
height: 486px;
width: 441px;
margin: -1px -61px 11px 109px;

}

.section-text {

    display: flex;
    flex-direction: column; 
    align-items: left;
    width: 100%; 
    max-width: 1200px; 
    margin: 100px 43px 19px 74px; 
    padding: 20px;
}

.section-text p {

    font-weight: 600;
    margin-bottom: 10px 232px 6px 4px;
}

.section_text_p2 {

    margin: -6px 319px -4px 4px;
    font-size: 20px;
}
.section_text_p1 {

    text-align: left;
    font-size: 1.75rem;
    margin-bottom: 0rem;
    
}

.section__pic-container {

    margin: -82px 129px -445px 5px;

}

.about-pic {

    height: 552px;
    width: 572px;
}

.about-details-container {
    
    margin: -378px 210px 260px 620px;
    font-size: 22px;

}

/* BUTTON SECTION */

.btn-container {

    display: inline;
    justify-content: center;
    gap: 1rem;
    margin: 33px;
    margin-top: 30px;
  

}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;

}

.btn-color-1,
.btn-color-2 {

    border: rgb(53, 53, 53) 0.1rem solid;

}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
     background: rgb(0, 0, 0);
    
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
    color: white;
}
.btn-color-2{
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
    

}

.btn-color-1 a {

color: rgb(255, 255, 255);

}

.btn-color-2:hover a {

    color:rgb(255, 255, 255)
}


/* ERVARING SECTION */

.experience-container {
    margin: -283px 87px -38px -75px;
    width: 2075px;
    height: 4067px;
    background-color: #EBFEFF;
  
}

.experience-container h1 {

    margin-right: 100px 33px 10px 0px;
    padding:293px;
    justify-content: center;
    text-align: center;
    color: #457B9D;
    background-color: #EBFEFF;

}
.experience-container h2 {
    margin: -297px 137px 10px;
    font-size: 35px;
    color: #457B9D;
   
}

.skill-container {
    
    display: flex;
    justify-content: center;
    margin: -253px;
    gap: 30px;
    height: 82px;
}

.opleiding {
    margin: -279px 10px 10px -1470px;
    font-size: 35px;
    color: #457B9D;
   
}

.opleiding-lijst {
    margin: 10px 10px 10px 10px;
    color:rgb(129, 121, 121);
    
}

.experience-container p {

    margin: 2px 100px 297px 140px;
    font-size: 25px;
    text-align: left;

}

/* PROJECTEN SECTION */

.Project-container {

border-radius: 23px;
}
.smiley {

    height: 623px;
    margin: -530px 10px 10px 1396px;
}

video {
    margin: 101px 10px 10px 26px;
    height: 226px;
    border-radius: 27px;
    
}


/* TABEL SECTION */


.table-title {

    margin: 0;
    justify-content: center;
    display: flex;
    color: #EBFEFF;

}

table {
 
    border-collapse: collapse;
    margin: 83px 256px 140px 251px;
    height: 330px;
    background-color: #ffffff;
   
}

th, td {
    border: 1px solid #dddddd;
    padding: 12px; 
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #e0e0e0;
}

  /* FORMULIER SECTION */
  

  .contact-title {
    font-size: 25px;
    margin: 8px -5px -9px 77px;
    color: #FFF;


  }

  form {
    max-width: 455px;
    margin: 10px 10px 10px 1100px;
    background-color: #f9cef9;
    padding: 62px;
    border-radius: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 0px solid #ccc;
    border-radius: 15px;
    margin: 10px 10px 10px -12px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}



.Project-container img {
    margin: 52px 10px 10px 27px;
    height: 226px;
    border-radius: 27px;
}

.Project-container p {

    font-size: 25px;
}
 
.Project-container h1 {

    font-size: 40px;
}

.video-1 {

    height: 145px;
    margin: -455px 95px 42px 76px;
    border-radius: 14px;
    font-size: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 377px;
}

.video-2 {

    height: 145px;
    margin: -204px 95px 42px 515px;
    border-radius: 14px;
    font-size: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 377px;
}

.video-3 {

    height: 145px;
    margin: -206px 95px 42px 958px;
    border-radius: 14px;
    font-size: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 377px;
}

.video-4 {

    height: 145px;
    margin: -206px 95px 42px 1399px;
    border-radius: 14px;
    font-size: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 377px;
}

.video-1 h1 {

    margin: 36px 10px -1px -1px;
    text-align: left;
}

.video-2 h1 {

    margin: 36px 10px -1px -1px;
    text-align: left;
}

.video-3 h1 {

    margin: 36px 10px -1px -1px;
    text-align: left;
}

.video-4 h1 {

    margin: 36px 10px -1px -1px;
    text-align: left;
}


.element {

    height: 161px;
    margin: -598px 10px 1263px 1522px;
    transform: rotate(354deg);
}

/* element SECTION */

.mumin-contact-pic {

    height: 981px;
    margin: -1606px 10px 1263px 295px;
}

.element2 {

    height: 525px;
    margin: -2205px 10px 1263px 1598px;
    transform: rotate(54deg);
}

.social-icons {
    
    margin:  -1463px 10px 10px 52px;
}

.social-icons img {

    width: 75px;
}

.stars-element {

    margin: -2000px 15px 35px 1489px;
    height: 428px;
}

.butterfly-element {

  
    margin: -2000px 10px 462px 0px;
    height: 176px;
}

.text-element {

    margin: -2000px 10px -28px 65px;
    height: 524px;

}

.butterfly-element2 {

    margin: -2000px 10px 637px 1440px;
    height: 165px;
    transform: rotate(294deg);

}

.butterfly-element3 {

    margin: -2000px 10px 637px 1440px;
    height: 165px;
    transform: rotate(294deg);

}


